html body {
  font-family: 'Montserrat';
}
.header {
  margin: 3% 40%
}
@media only screen and (max-width: 900px) {
  .header {
    margin: 0 2%
  }
}
/* LIST PAGE START*/

.add-hotel-button{
  background-color: transparent;
  color: #2a81fd;
  border: 2px solid #2a81fd;
  border-radius: 7px;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  font-size: 40px;
  transition: all .5s ease;
  vertical-align: middle;
  margin-top: 12px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.add-hotel-button:hover{
  background-color: #2a81fd;
  color: #fff;
}
.header .title {
  font-size: 30px;
}

.filter-button {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 220px;
  transition: all .5s ease;
  cursor: pointer;
  
}

.filter-button:hover {
  background-color: #fcfcfc;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}

.filter-button .icon {
  vertical-align: middle;
}

.selection-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  width: 220px;
  position: absolute;
  transition: all .5s ease;
  cursor: pointer;
}

.selection-box .option{
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  transition: all .5s ease;
  cursor: pointer;
  transition: all .5s ease;
}

.selection-box .option:hover{
  background-color: #b1d2ff;
}

.hotel-list{
  margin-top: 30px;
}
.hotel-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  margin-bottom: 20px;
  width: 400px;
  transition: all .5s ease;
}
.hotel-box:hover {
  background-color: #fafafa;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}

.row {
  display: flex;
  flex-direction: row;
}

.hotel-image {
  padding: 0;
}

.hotel-image .image {
  width: 140px;
}

.hotel-content-col {
  margin-left: 20px;
}

.hotel-content-col .hotel-title{
  margin: 0 !important;
  font-size: 23px;
  font-weight: 500;
}
.hotel-rating-box{
  background-color: #f6f9fd;
  border-radius: 7px;
  padding: 8px;
  width: 160px;
  margin-top: 7px;
}
.hotel-rating-box .hotel-rating{
  margin: 0 !important;
  margin-bottom: 10px;
  color: #0dc5bb;
  font-size: 17px;
  font-weight: 500;
}
.hotel-rating-button button{
  text-transform: uppercase;
  font-family: 'Montserrat';
  background-color: transparent;
  color: #2a81fd;
  border: 1.5px solid #2a81fd;
  border-radius: 7px;
  padding: 9px 12px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 10px;
  margin-top: 20px;
  transition: all .5s ease;
}
.hotel-rating-button button:hover{
  color: #fff;
  background-color: #2a81fd;
}
.space-between{
  display: flex;
  justify-content: space-between;
}

.button-remove{
  border: none;
  height: 30px;
  width: 30px;
  background-color: #da1e28;
  color: #fff;
  font-size: 25px;
  border-radius: 50%;
  position:absolute;
  top:-20px;
  right:-30px;
  transition: all .5s ease;
}

.button-remove:hover{
  background-color: #eb212b;
}
/* LIST PAGE END*/

/* ADD PAGE START*/

.input-label{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px !important;
}
.input-text{
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 500;
  padding:30px 20px;
  border: 2px solid #dfe3e9;
  border-radius: 5px;
  width: 300px;
}
.submit-add{
  border: none;
  font-family: 'Montserrat';
  font-size: 18px;
  padding: 15px 35px;
  border-radius: 8px;
  margin-top: 10px;
  color: #fff;
  background-color: #2a81fd;
  cursor: pointer;
  transition: all .5s ease;
}
.submit-add:hover{
  background-color: #126ff0;
}
.submit-success{
  border: none;
  font-family: 'Montserrat';
  font-size: 18px;
  padding: 5px 35px 5px 25px;
  border-radius: 8px;
  margin-top: 10px;
  color: #fff;
  background-color: #63cd25;
  cursor: pointer;
  transition: all .5s ease;
}
.success-text{
  position:relative;
  top: -10px;
}
textarea:focus, input:focus{
  outline: none;
}
.check-icon{
  font-size: 37px;
}
/* ADD PAGE END*/

.button-area{
  width: 345px;
  text-align: right;
}
.pagination{
  text-align: center;
}
.pagination .page-button{
  border: none;
  border-radius: 50%;
  background-color: transparent;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 500;
  margin: 5px;
  height:30px;
  width:30px;
  position: relative;
  top: -4px;
  cursor: pointer;
  transition: all .5s ease;
}
.pagination .page-button:hover{
  border-radius: 50%;
  background-color: #eee;
}
.pagination .page-chevron{
  border: none;
  background-color: transparent;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 500;
  margin: 5px;
  cursor: pointer;
}
